# ===== Dependencies ===== #
node_modules
npm-debug.log

# ===== Next.js ===== #
.next
out

# ===== Environment ===== #
.env
.env.local
.env*.local

# ===== Git ===== #
.git
.gitignore

# ===== IDE ===== #
.vscode
.idea

# ===== OS ===== #
.DS_Store
Thumbs.db

# ===== Others ===== #
README.md
.eslintrc.json